body{
    background-color: rgb(22, 22, 22);
}
.container{
    padding: 2%;
    margin: auto;
    margin-top: 7%;
    justify-content: center;
    background-color:rgb(252, 245, 235);
    border-radius: 7px;
}
.image{
    width: 300px;
}
#image{
    border-radius:20px;
}

.card{
    border: 0px;
    margin-left: 50px;
    background-color: rgba(255, 248, 220, 0);

}
.card-title{
    font-size: 50px;
    margin-top: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.Film-Text{
    border: 0px;
    margin-left: 50px;
    width: 100%;
}
#text-heading{
    font-size: 20px;
    background-color: rgb(41, 40, 40);
    color: white;
    height: 32px;
    padding-left: 20px;
    padding-top: 2px;
    width: 360px;
    border-radius: 3px;
    margin-top: 0px;
}
#About{
    width: 1000px; 
    font-size: 20px;
    line-height: 40px;
    color: rgb(78, 78, 78);
}
