.head{
    text-align: center;
}
h1{
    color: blueviolet;
    text-decoration:underline;
    font-weight: bold;

}
.container{
    background-color: blueviolet;
    border: 8px solid;
    border-color:darkviolet;
    width:70%;
    margin:auto;
    padding:10px;
    margin-bottom:5px;
}
.col-4 {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-left:10px; 
  }
  
  .col-6 {
    float: left;
    width: 65%;
    margin-top: 6px;
    
  }
  input[type = email], input[type = number]{
    width:40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
  }
  .input-one{
    width:40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;

  }
  textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
  }

  

  
  label {
    padding: 10px 10px 10px 0;
    display: inline-block;
    font-size:18px;
    color:white;
    font-weight:bold;
    
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  select{
      width:14%;
      float:left;
      padding: 8px;
     border: 1px solid #ccc;
     border-radius: 2px;
     margin-left:3px;
  }
  span{
    margin-left:10px;
    color: white;
    font-weight: bold;
    font-size:large;
}
.col-head{
    margin-left: ;
}
.col-heads{
   text-align: center;
   font-size:18px;
   color:white;
   font-weight:bold;
}
.col-head{
    font-size:18px;
    color:white;
    font-weight:bold;
}
.col-input{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size:large;
}
.input-two{
  
    border: 1px solid #ccc;
    border-radius: 2px;
    padding:5px;
}
.col-btn {
    background-color: gainsboro; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid rgb(14, 13, 13);
    border-radius: 2px;
    font-weight: bold;
  }
  .btn{
      text-align: center;
  }
.main{
  text-align: center;
 margin-top:150px;
}
#img{
  width:15%;
}
#submit{
  font-size: x-large;
  color: blueviolet;
  font-weight: bold;

}
#back{
  color: darkmagenta;
  font-weight: bold;
}
  
/* .form{
    background-color: blueviolet;
    border: 8px solid;
    border-color:darkviolet;
    width:70%;
    margin:auto;
    padding:10px;
  
}
label{
    margin-left:8px;
    font-size:21px;
    color:white;
    font-weight:bold;
  
}
input[type=text] {
    padding: 12px 20px;
    margin: 10px 0;
    margin-left:40px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius:2px;
    outline: none;
  }
span{
    margin-left:10px;
}
#month{
    width:100px;
    padding:4px;
    border-radius:2px;

}
#days{
    width:100px;
    padding:4px;
    border-radius:2px;
    margin-left:0px;
    padding: 12px 20px;
    margin: 10px 0;
}
#year{
    width:100px;
    padding:4px;
    border-radius:2px;
} */