*{
    width:90%;
    margin: auto;
}
#ex1{
    text-align: center;
    margin-bottom: 20px;

}
#demo{
    background-color: green;
    color: white;
    padding: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}
#demo:hover{
    background-color: blue;
}
#ex2{
    text-align: center;
    margin-top: 20px;

}
#para{
    font-size: 18px;
}
#para::before{
    content: "Before";
    background-color: green;
}
#para::after{
    content: "After";
    background-color: green;
}
#ex3{
    text-align: center;
    margin-top: 20px;

}
li::marker { 
    color: red;
    font-size: 23px;
  }